<% @abouts.each do |about| %>
	<div class="about-index">
		<b>	<%= link_to about.title, about %></b>
		<p><%= link_to image_tag(about.image_url(:small_thumb)), about %>
	<%= truncate(strip_tags(about.content),:length => 180) %></p>
</div>
<% end %>


<br />

