<div class="about-list">
	<ul>
		<% Sort.all.each do |sort| %>
			<li><%= link_to sort.name, abouts_path(t:sort) %></li>
		<% end %>
			</ul>
</div>
<div class="about-right">
	<%= render 'abouts/list_about' %>
</div>
<div style="clear: both">
	<%= link_to "new", new_about_path %>
</div>
