// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-index  {
	float: left;
	border-bottom: 1px solid;
	width: 770px;
}
.about-index img,.about-index b, .about-index p {
	float: left;
}
.about-index b {
	width: 770px;
	padding: 8px;
	margin-top: 10px;

}
.about-index img {
	margin-right: 10px;
}
.about-index p {
	margin: 5px;
	padding: 5px;
}
	
.about-list {
	margin-top: 10px;
	width: 150px;
	float: left;
	border: 1px solid;
	margin-right: 10px;
}
.about-list ul {
	list-style: none;
}
.about-list ul li:last-child {
	border-style: none;
}
.about-list ul li {
	border-bottom: 1px solid;
	text-align: center;
	padding: 10px 0 10px 0;
	
}

.about-right {
	width: 800px;
	float: left;
}
