// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
.format {
	float:right;
	margin-left: 12px;
}
.btn-warning {
	margin-right: 50px;
}
