.header ul {
	list-style: none;
}
.header li {
	float: left;
	border-right: 1px solid;
	padding-top: 10px;
	letter-spacing: 2px;
	width: 100px;
	height: 30px;
	text-align: center
}
.header li:first-child {
	border-radius: 10px 0 0 10px;
}
.header li a {
	font-size: 10pt;
	font-style: bold;
	text-decoration: none;
}
.header li:last-child {
	border-style: none;
}
.header li:last-child:hover {
	background: none;
}
.header li:hover {
	background: white;
}
.header li a:hover {
	background: none;
	color: blue;
}
.header input {
	margin-top: -3px;
	margin-left: 20px;
	height: 25px;
	width: 280px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #909090;
}
.header form {
	margin-top: -5px;
}
.keyword {
	margin-top: 3px;
	border-radius: 5px;
	background: #e8e8e8;
	height: 20px;
	padding-left: 580px;
}
.keyword a {
	text-decoration: none;
	font-size: 9pt;
	padding-left: 3px;
}
.keyword a:hover {
	background: none;
	color: blue;
}
.notice-alert span {
	position: absolute;
	left: 300px;
	color: green;
	padding-left: 10px;
	top: 107px;
}
.notice-alert b {
	background: #e8e8e8;
	border-style: none;
	position: absolute;
	left: 300px;
	padding-left: 10px;
	top: 107px;
}


//最上面的logo的地方的代码
.user-login{
	margin-top: -10px;
	float: right;
}
//
//
//
.returnTop {
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 200px;
    _bottom: auto;
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid #61b72e;
    border-radius:4px;
    background: #fff;
    box-shadow: 0 0 5px #F5F5F5;
    text-indent: -9999px;
    cursor: pointer;
}
.returnTop .s {
    position: absolute;
    top: -2px;
    _top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #61b72e;
    border-style: dashed dashed solid;
}
.returnTop .b {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 12px;
    width: 8px;
    background: #61b72e;
}
//首页轮换图的
.index-image img {
	width: 810px;
	height: 300px;
	border-radius: 15px;
}
.index-image a {
	text-decoration:none;
}
.carousel-inner a:hover {
	color: black;
}
.carousel-inner a:visited, .carousel-inner a:link {
	color: white;
}
/*.carousel-caption {
	margin-left: 100px;
	color: white;
background: transparent;
}*/
.carousel-caption p, .carousel-caption a {
	margin-left: 300px;
	float: left;
}
.gp-log img {
	margin-top: 5px;
	width: 100px;
	height: 30px;
	float: left;
}
.gp-log h2{
	margin-top: 6px;
	float: left;
}
.gp-log b {
	margin-right: 5px;
}
.gp-log span {
	color: #ee7700;
	font-style: bold;
	font-size: 14pt;
}
//页脚
.footer-dispaly {
	width: 320px;
	height: 200px;
	float: left;
}
.footer-imag {
	width: 300px;
	height: 200px;
	margin: 0 15px;
	float: left;
}

.footer-imag img {
	margin: 20px 3px;
	width: 180px;
	height: 70px;
	margin-left: 60px;
}
.footer-imag h2 {
	clear: both;
	font-family: serif;
	letter-spacing: 5px;
	color: #ee7700;
	margin: 8px 0 10px;
	font-size: 18pt;
	font-style: bold;
	text-align: center;
}
.footer-imag b {
	margin-left: 5px;
}	
.footer-dispaly ul {
	list-style: none;
	margin-left: 3px;
}
.footer-dispaly li {
}
.footer-menu {
	margin: 10px 30px 0 15px;
	float: left;
}
.footer-menu h3 {
	margin-bottom: 5px;
}
.footer-menu a {
	text-decoration: none;
}
