.nav-drop {
	margin-left: -15px;
	width: 150px;
	border: 1px solid #e8e8e8;
	box-shadow: 2px 2px 2px #909090;
	margin-right: 5px;
}
.nav-drop ul {
	list-style: none;
}
.nav-drop ul li {
	border-bottom: 1px solid;
	padding: 10px 20px 10px 30px;
}
.nav-drop a:hover {
	background: none;
	color: blue;
}
.nav-drop ul li a:first-child {
	font-size: 12pt;
	letter-spacing: 3px;
}
.nav-drop ul li ul li a:first-child {
	font-size: 12pt;
}
.nav-drop ul li ul li a{
	font-size: 9px;
}
.nav-drop a{
	padding: 3px;
	text-decoration: none;
}
.nav-drop ul li ul {
	background: #e8e8e8;
	width: 450px;
	border: 1px solid;
}
.nav-drop ul li ul li {
	float: left;
	border-style: none;
	margin-top: 10px;
}
.nav-drop h3 {
	background: yellow;
	text-align: center;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid;
	line-height: 200%;
}
.nav-drop  li {
	position: relative;
}
.nav-drop li ul {
	display: block;
	position: absolute;
	left: 100%;
	z-index:2;
	top: 0;
}
.nav-drop li ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
.nav-drop li:hover > ul {
	display: block;
}
