.products-list {
	float: left;
	width: 800px;
}
.product-index {
	float: left;
	height: 280px;
	margin-right: 10px;
	border: 1px solid;
	margin: 5px;
}
.product-index img {
	width: 180px;
	height: 200px;
	border: 2px solid;
}
.product-index p {
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 150%;
}
