	<% products.each do |product| %>
		<div class="product-index">
			<%=link_to image_tag(product.pictures.first.image_url), product %>
			<p>	<%= product.title %><br />	<%= product.number %></p>
		</div>
	<% end %>
